{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<h1>search </h1>
  {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<div class="input-group">
<form action="" method="POST">
		{% csrf_token %}
	<p><label for="id_host">Host:</label> <input id="id_host"   maxlength="30" name="host" type="text" />
<!--	<table>
		{% csrf_token %}
		{{ form.as_ul }}
	</table> -->
	<input type="submit" value="Submit" > 
	</p>
	<!-- <input type="submit" value="Submit" class="form-control"> -->
</form>
</div>

<table border="1">
{% if hosts %}
	<tr> 
		<th>hostname</th>
		<th>eth0</th>
		<th>eth1</th>
		<th>Group</th>
	</tr>
{% endif %}
{% for host in hosts %}
        <tr>
                <th>{{ host.hostname }} </th>
                <th>{{ host.eth0 }} </th>
                <th>{{ host.eth1 }} </th>
                <th> {{ host.group }} </th>
        </tr>
{% endfor %}
</table>
{% if times %}
<li>第{{ times }}次搜索</li>
{% endif %}
</html>
