<html>
<h1>search </h1>
  {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<form action="" method="POST">
	<table>
		{% csrf_token %}
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit">
</form>
{% for host in hosts %}
<table border="1">
        <tr>
                <th>{{ host.hostname }} </th>
                <th>{{ host.eth0 }} </th>
                <th>{{ host.eth1 }} </th>
                <th> {{ host.group }} </th>
        </tr>
</table>
{% endfor %}
</html>
