<html>
<h1>search </h1>
  {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<form action="" method="POST">
	<table>
		{% csrf_token %}
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit">
</form>

<table border="1">
{% if host %}
	<tr> 
		<th>hostname</th>
		<th>eth0</th>
		<th>eth1</th>
		<th>Group</th>
	</tr>
{% endif %}
{% for host in hosts %}
        <tr>
                <th>{{ host.hostname }} </th>
                <th>{{ host.eth0 }} </th>
                <th>{{ host.eth1 }} </th>
                <th> {{ host.group }} </th>
        </tr>
{% endfor %}
</table>
{% if times %}
<li>第{{ times }}次搜索</li>
{% endif %}
</html>
